span {
    background-color: transparent;

    &.minimum {
        background-color: $page-background-color;
        border-radius: 5px;
        padding: 2.5px 5px;
        margin-left: 10px;
    }

    &.vote-average {
        font-weight: 600;
    
        &.green {
            color: green;
        }
    
        &.orange {
            color: orange
        }
    
        &.red {
            color: red;
        }
    }
}