@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

* {
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    height: 75px;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1, h2, h3 {
    font-weight: 600;
}

h2 {
    font-size: 1.3em;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}