.movie-tile {
    display: flex;
    flex-wrap: wrap;
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 220px;
    transition: transform .2s;

    img {
        width: 100%;
        height: 320px;
    }

    .movie-info {
        color: #eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        letter-spacing: 0.5px;
        width: 100%;
        height: 100px;

        p {
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 0.8rem;
        }
    }
}

.movie-tile:hover {
    transform: scale(1.05);
    cursor: pointer;
}