span {
  background-color: transparent; }
  span.minimum {
    background-color: #2c2c54;
    border-radius: 5px;
    padding: 2.5px 5px;
    margin-left: 10px; }
  span.vote-average {
    font-weight: 600; }
    span.vote-average.green {
      color: green; }
    span.vote-average.orange {
      color: orange; }
    span.vote-average.red {
      color: red; }
